USE [master]
GO
/****** Object:  Database [QuanLyDVGiaoHang]    Script Date: 6/6/2023 5:19:55 PM ******/
CREATE DATABASE [QuanLyDVGiaoHang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyDVGiaoHang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyDVGiaoHang.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyDVGiaoHang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyDVGiaoHang_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyDVGiaoHang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyDVGiaoHang]
GO
/****** Object:  Table [dbo].[BANGGIA]    Script Date: 6/6/2023 5:19:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGGIA](
	[KhoiLuong] [char](30) NOT NULL,
	[GiaNoiTinh] [float] NULL,
	[GiaNoiVung] [float] NULL,
	[GiaLienVung] [float] NULL,
	[GiaCachVung] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[KhoiLuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONHANG]    Script Date: 6/6/2023 5:19:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONHANG](
	[MaVanDon] [int] IDENTITY(1,1) NOT NULL,
	[NguoiGui] [nvarchar](max) NOT NULL,
	[NguoiNhan] [nvarchar](max) NOT NULL,
	[DiaChiNguoiGui] [nvarchar](max) NOT NULL,
	[DiaChiNguoiNhan] [nvarchar](max) NOT NULL,
	[NgayTaoDon] [date] NULL,
	[ThongTinHangHoa] [nvarchar](max) NOT NULL,
	[LoaiHangHoa] [char](6) NULL,
	[KhoiLuong] [char](30) NULL,
	[PhiVanChuyen] [int] NULL,
	[PhiCOD] [int] NULL,
	[TinhTrang] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVanDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DS_DONHANGCANGIAONHAN]    Script Date: 6/6/2023 5:19:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DS_DONHANGCANGIAONHAN](
	[TKGiaoNhanHang] [char](30) NULL,
	[MaVanDon] [int] NULL,
	[Ngay] [date] NULL,
	[Gio] [time](7) NULL,
	[GiaoNhan] [bit] NULL,
	[TrangThai] [nvarchar](30) NULL,
	[GhiChu] [nvarchar](max) NULL,
	[MaDS] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DS_DONHANGCANTRUNGCHUYEN]    Script Date: 6/6/2023 5:19:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DS_DONHANGCANTRUNGCHUYEN](
	[TKTrungChuyen] [char](30) NULL,
	[MaVanDon] [int] NULL,
	[Ngay] [date] NULL,
	[Gio] [time](7) NULL,
	[TrangThai] [nvarchar](max) NULL,
	[MaDS] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DS_DONHANGDENKHO]    Script Date: 6/6/2023 5:19:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DS_DONHANGDENKHO](
	[TKKiemTra] [char](30) NULL,
	[MaVanDon] [int] NULL,
	[Ngay] [date] NULL,
	[Gio] [time](7) NULL,
	[TuyenTrungChuyenTT] [nvarchar](max) NULL,
	[MaDS] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 6/6/2023 5:19:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[TenNguoiBan] [nvarchar](max) NOT NULL,
	[TenCuaHang] [nvarchar](max) NOT NULL,
	[DiaChi] [nvarchar](max) NOT NULL,
	[SoDT] [char](10) NOT NULL,
	[Email] [char](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOTRUNGCHUYEN]    Script Date: 6/6/2023 5:19:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOTRUNGCHUYEN](
	[MaKho] [char](6) NOT NULL,
	[TenKho] [nvarchar](50) NOT NULL,
	[KhuVucQuanLy] [nvarchar](50) NOT NULL,
	[HotLine] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIHANGHOA]    Script Date: 6/6/2023 5:19:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIHANGHOA](
	[MaLoai] [char](6) NOT NULL,
	[TenLoai] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 6/6/2023 5:19:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[MaVaiTro] [char](6) NULL,
	[MaKho] [char](6) NULL,
	[HoTen] [nvarchar](50) NULL,
	[NgaySinh] [date] NOT NULL,
	[DiaChi] [nvarchar](max) NULL,
	[SoDT] [char](11) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TK_KHACHHANG]    Script Date: 6/6/2023 5:19:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TK_KHACHHANG](
	[MaKhachHang] [int] NULL,
	[TenDangNhap] [char](30) NOT NULL,
	[MatKhau] [char](30) NOT NULL,
	[SoDu] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TK_NVGIAOHANG]    Script Date: 6/6/2023 5:19:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TK_NVGIAOHANG](
	[MaNVGiaoHang] [int] NULL,
	[TenDangNhap] [char](30) NOT NULL,
	[MatKhau] [char](30) NOT NULL,
	[KhuVucGiaoHang] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TK_NVTRUNGCHUYEN]    Script Date: 6/6/2023 5:19:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TK_NVTRUNGCHUYEN](
	[MaNVTrungChuyen] [int] NULL,
	[TenDangNhap] [char](30) NOT NULL,
	[MatKhau] [char](30) NOT NULL,
	[TuyenTrungChuyen] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TK_QUANLY]    Script Date: 6/6/2023 5:19:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TK_QUANLY](
	[MaNVQuanLy] [int] NULL,
	[TenDangNhap] [char](30) NOT NULL,
	[MatKhau] [char](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VAITRO]    Script Date: 6/6/2023 5:19:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAITRO](
	[MaVaiTro] [char](6) NOT NULL,
	[TenVaiTro] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BANGGIA] ([KhoiLuong], [GiaNoiTinh], [GiaNoiVung], [GiaLienVung], [GiaCachVung]) VALUES (N'+ 0.5                         ', 1700, 3500, 8500, 8100)
INSERT [dbo].[BANGGIA] ([KhoiLuong], [GiaNoiTinh], [GiaNoiVung], [GiaLienVung], [GiaCachVung]) VALUES (N'< 0.05                        ', 8000, 8000, 10000, 9100)
INSERT [dbo].[BANGGIA] ([KhoiLuong], [GiaNoiTinh], [GiaNoiVung], [GiaLienVung], [GiaCachVung]) VALUES (N'0.05 - 0.1                    ', 8000, 11800, 14000, 13300)
GO
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MaKhachHang], [TenNguoiBan], [TenCuaHang], [DiaChi], [SoDT], [Email]) VALUES (1, N'Nguyễn Bình Minh', N'logictic1', N'nhà 12,Xã Nam Tân,Huyện Nam Sách,Tỉnh Hải Dương', N'0708104245', N'minhng@gmail.com              ')
INSERT [dbo].[KHACHHANG] ([MaKhachHang], [TenNguoiBan], [TenCuaHang], [DiaChi], [SoDT], [Email]) VALUES (2, N'Nguyễn Văn Bình', N'logic 1', N'nhà 13,Xã Nam Tân,Huyện Nam Sách,Tỉnh Hải Dương', N'0708104243', N'minhngltt@gmail.com           ')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
GO
INSERT [dbo].[KHOTRUNGCHUYEN] ([MaKho], [TenKho], [KhuVucQuanLy], [HotLine]) VALUES (N'KHODN1', N'Kho Đà Nẵng 1', N'Đà Nẵng', N'0353101379')
INSERT [dbo].[KHOTRUNGCHUYEN] ([MaKho], [TenKho], [KhuVucQuanLy], [HotLine]) VALUES (N'KHOHN1', N'Kho Hà Nội 1', N'Hà Nội', N'0869545350')
INSERT [dbo].[KHOTRUNGCHUYEN] ([MaKho], [TenKho], [KhuVucQuanLy], [HotLine]) VALUES (N'KHOHN2', N'Kho Hà Nội 2', N'Hà Nội', N'0865195265')
GO
INSERT [dbo].[LOAIHANGHOA] ([MaLoai], [TenLoai]) VALUES (N'Loai_1', N'Hàng thực phẩm khô')
INSERT [dbo].[LOAIHANGHOA] ([MaLoai], [TenLoai]) VALUES (N'Loai_2', N'Hàng thực phẩm tươi sống')
INSERT [dbo].[LOAIHANGHOA] ([MaLoai], [TenLoai]) VALUES (N'Loai_3', N'Hàng bưu kiện')
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MaNV], [MaVaiTro], [MaKho], [HoTen], [NgaySinh], [DiaChi], [SoDT]) VALUES (1, N'VT_QL1', N'KHOSG1', N'Nguyễn Admin', CAST(N'2003-01-01' AS Date), N'KTX Khu B,Phường Linh Trung,Thành phố Thủ Đức,Thành phố Hồ Chí Minh', N'0123456789 ')
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
GO
INSERT [dbo].[TK_KHACHHANG] ([MaKhachHang], [TenDangNhap], [MatKhau], [SoDu]) VALUES (1, N'khachhang1                    ', N'kh2003                        ', 0)
GO
INSERT [dbo].[TK_QUANLY] ([MaNVQuanLy], [TenDangNhap], [MatKhau]) VALUES (1, N'admin                         ', N'123                           ')
GO
INSERT [dbo].[VAITRO] ([MaVaiTro], [TenVaiTro]) VALUES (N'VT_GH1', N'Nhân viên giao hàng')
INSERT [dbo].[VAITRO] ([MaVaiTro], [TenVaiTro]) VALUES (N'VT_QL1', N'Quản lý')
INSERT [dbo].[VAITRO] ([MaVaiTro], [TenVaiTro]) VALUES (N'VT_TC1', N'Nhân viên trung chuyển')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KHACHHAN__A9D10534FC63E46E]    Script Date: 6/6/2023 5:19:55 PM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KHACHHAN__BC3D04C912BE0A1F]    Script Date: 6/6/2023 5:19:55 PM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD UNIQUE NONCLUSTERED 
(
	[SoDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NHANVIEN__BC3D04C92810813C]    Script Date: 6/6/2023 5:19:55 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD UNIQUE NONCLUSTERED 
(
	[SoDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TK_KHACHHANG] ADD  DEFAULT ((0)) FOR [SoDu]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD FOREIGN KEY([KhoiLuong])
REFERENCES [dbo].[BANGGIA] ([KhoiLuong])
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD FOREIGN KEY([LoaiHangHoa])
REFERENCES [dbo].[LOAIHANGHOA] ([MaLoai])
GO
ALTER TABLE [dbo].[DS_DONHANGCANGIAONHAN]  WITH CHECK ADD FOREIGN KEY([MaVanDon])
REFERENCES [dbo].[DONHANG] ([MaVanDon])
GO
ALTER TABLE [dbo].[DS_DONHANGCANGIAONHAN]  WITH CHECK ADD FOREIGN KEY([TKGiaoNhanHang])
REFERENCES [dbo].[TK_NVGIAOHANG] ([TenDangNhap])
GO
ALTER TABLE [dbo].[DS_DONHANGCANTRUNGCHUYEN]  WITH CHECK ADD FOREIGN KEY([MaVanDon])
REFERENCES [dbo].[DONHANG] ([MaVanDon])
GO
ALTER TABLE [dbo].[DS_DONHANGCANTRUNGCHUYEN]  WITH CHECK ADD FOREIGN KEY([TKTrungChuyen])
REFERENCES [dbo].[TK_NVTRUNGCHUYEN] ([TenDangNhap])
GO
ALTER TABLE [dbo].[DS_DONHANGDENKHO]  WITH CHECK ADD FOREIGN KEY([MaVanDon])
REFERENCES [dbo].[DONHANG] ([MaVanDon])
GO
ALTER TABLE [dbo].[DS_DONHANGDENKHO]  WITH CHECK ADD FOREIGN KEY([TKKiemTra])
REFERENCES [dbo].[TK_QUANLY] ([TenDangNhap])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([MaKho])
REFERENCES [dbo].[KHOTRUNGCHUYEN] ([MaKho])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([MaVaiTro])
REFERENCES [dbo].[VAITRO] ([MaVaiTro])
GO
ALTER TABLE [dbo].[TK_KHACHHANG]  WITH CHECK ADD FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KHACHHANG] ([MaKhachHang])
GO
ALTER TABLE [dbo].[TK_NVGIAOHANG]  WITH CHECK ADD FOREIGN KEY([MaNVGiaoHang])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[TK_NVTRUNGCHUYEN]  WITH CHECK ADD FOREIGN KEY([MaNVTrungChuyen])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[TK_QUANLY]  WITH CHECK ADD FOREIGN KEY([MaNVQuanLy])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
USE [master]
GO
